p{
    text-align: justify;
    width: 100%;
}

@media (max-width: 992px){
    p {
        max-width: 960px;
    }
}
@media (max-width: 768px){
    p {
        max-width: 720px;
    }
}
@media (max-width: 576px){
    p {
        max-width: 540px;
    }
}

.col-12{
    padding-left: 300px;
    padding-right: 200px;
    
}


