
p{
    text-align:justify;
    width: 900px;
}

h1{
padding-left: 100px;
    text-align: center;
}

h3{
    color: rgb(93, 131, 80);;
}

.banner__img {
    box-sizing:border-box;
    display:block;
    width:115px;   
    height:115px;   
    padding-left:115px; 
    background: url(../assets/images/banner-politica.jpg)
}

