header {
    margin: auto;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    padding-top: 10px;
}

header .header__logo {
    background-image: url('../../images/logo-temporal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 80px;
}

header .header__icon {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #16A212;
}

header .header__icon li {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;

}

header .header__icon li:first-child {
    background-image: url('../../images/iconologin.png');
}

header .header__icon li:last-child {
    background-image: url('../../images/iconologin.png');
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

header .header__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    width: 1100px;
}

header .header__menu .header__menu-item {
    cursor: pointer;
}

header .header__menu .header__menu-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


header .header__carrocompra li {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}


header .header__carrocompra li:last-child {
    background-image: url('../../images/logo-compra.png');
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    color: #16A212;
}

a {
    color: #16A212;

}