/*   index   */

.header1{
    font-size: calc(var(--typeBaseSize) * 0.75);
    position: relative;
    text-align: center;
    background-color: #b2d47d;
    padding: 1px 0;
}



.logo {
     padding: 2px; 
     margin: 0px auto;
     border: 2px solid black; 
     display: block;
     width: 50px;
     }

