.banner .banner__img{
    background-image: url('../../images/banner-blog.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.img_categories{
    width: 385px;
    height: 289px;
}

.titulo-blog{
color: black;
}
