.banner .banner__img {
    background-image: url('../../images/banner-blog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.icard-img-top {
    width: 385px;
    height: 289px;
    border: 2px solid #ffffff;
    object-fit: contain;

}

.titulo-blog {
    color: black;
}

.blogs {
    width: 400px;
    flex-direction: row;
    display: inline-block;
    position: relative;
    padding-bottom: 30px;
}