h1 {
  font-family: cursive;
  text-align: center;
}

.fotoperfil {
  width: 90px;
  height: 90px;
  pointer-events: none;

  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.cliente {
  padding-bottom: 20px;
}